.icon-menu {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/iconos%2Fmenu.svg?alt=media&token=7880b6db-1a42-4c8f-a6a1-153407377bdc');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  z-index: 4;
  left: 11px;
  top: 11px;
  display: none;
}

header {
  background-color: transparent;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .header-container {
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  margin-left: 10%;
  margin-right: 10%;
}

header .header-container .logo img {
  max-width: 200px;
  width: 100%;
}

.menu {
  height: inherit;
}

header ol {
  display: flex;
  height: inherit;
  flex-wrap: wrap;
}

header ol li {
  height: inherit;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: #ffffff;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

@media screen and (max-width: 880px) {
  header {
    display: block;
    height: auto;
  }

  header ol {
    display: block;
  }

  header ol li {
    height: 50px;
  }

  header a {
    justify-content: center;
  }

  header .logo {
    text-align: center;
  }

  .contacto form input {
    width: 471px !important;
  }

  .icon-menu {
    display: block;
    z-index: 1;
  }

  .menu {
    position: fixed;
    background-color: rgba(0, 22, 31, 0.9);

    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .menu ol li a {
    color: white;
    font-size: 2em;
    height: 40px;
    text-decoration: underline;
    margin-bottom: 1.5em;
  }

  .menu.is-active {
    left: 0;
  }
}
