<header>
    <nav class="header-container">

        <figure class="logo">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/logos%2Flogo.png?alt=media&token=dc71f386-99bb-4c9c-8eee-64b88902002f" alt="Logo principal" />
            <span (click)="abrirMenu()" class="icon-menu"></span>
        </figure>
        <div class="menu">
            <ol>
                <li>
                    <a routerLink="/inicio">Inicio</a>
                </li>
                <li>
                    <a routerLink="/proyectos">Proyectos</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/reffcp/" target="Blank_">Instagram</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCJnynQf5ycb5WFf4EXv6eWg?view_as=subscriber" target="Blank_">Youtube</a>
                </li>
                <li>
                    <a routerLink="/sobre-mi">Sobre mí</a>
                </li>
            </ol>
        </div>
    </nav>
</header>
