-var leyenda = " De mi para el mundo. {{date}} ®"
mixin icon-footer(url,img,alt)
    div((click)="gotoUrl('"+url+"')")
        img(src="../assets/"+img+"", alt=""+alt+"")
footer
    section.footer-section-1
        p Sígueme en mis redes:
        section.section-social-footer
            +icon-footer("https://www.linkedin.com/in/reffcp/","logo-linkedin.svg","logo-linkedin")
            +icon-footer("https://www.instagram.com/reffcp/","logo-instagram.svg","logo-instagram")
            +icon-footer("https://www.facebook.com/reffcp","logo-facebook.svg","logo-facebook")
    section.footer-section-2
        p= leyenda