@import "../../../variables.scss";


footer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: $backgroundSecond;
    color: $fontColorPrimary;
}

.footer-section-1{
    display: grid;
    grid-column: 1;
    justify-content: initial;
    margin-left: 6%;
    margin-top: 1%;

    & img{
        width: 100%;
    }
    & div{
        margin: 10%;
    }
    & p{
        margin: 0;
    }
}

.footer-section-2{ 
    display: grid;
    grid-column: 2;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}

.section-social-footer{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}