<!-- <section class="projects-background">
  <section class="projects-container">
    <section class="projects">
      <section class="project-card" *ngFor="let proyecto of proyectos">
        <img class="project-card-icon" [src]="proyecto.techlonogy" alt="" />
        <img [src]="proyecto.img" [alt]="proyecto.name" />
        <div class="card-content">
          <h2>{{ proyecto.name }}</h2>
          <span>{{ proyecto.description }}</span>
        </div>
        <button *ngIf="proyecto.demolink" (click)="gotoUrl(proyecto.demolink)">
          Ver proyecto
        </button>
        <button
          *ngIf="proyecto.githubrepo"
          (click)="gotoUrl(proyecto.githubrepo)"
        >
          Github
        </button>
      </section>
    </section>
  </section>
</section> -->

<div class="container-fluid">
  <div class="row p-0 justify-content-center">
    <div
      class="card col-12 col-md-3 m-1"
      style="width: auto"
      *ngFor="let proyecto of proyectos"
    >
      <div class="card-header d-flex justify-content-center">
        <img
          [src]="proyecto.img"
          [alt]="proyecto.name"
          class="card-img-top m-0 p-0"
          style="width: 90%"
        />
      </div>

      <div class="card-body">
        <h5 class="card-title">
          {{ proyecto.name }}
        </h5>
        <p class="card-text">
          {{ proyecto.description }}
        </p>
      </div>

      <div class="card-footer row">
        <img
          class="col-3 p-3"
          *ngFor="let tecnologia of proyecto.techlonogy"
          [src]="tecnologia.DES_IMG"
        />
      </div>
    </div>
  </div>
</div>
