<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mt-3">
      <h2 class="border-bottom text-center">
        Experiencia {{ typeExperienceTitle }}
      </h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 col-md-5 col-11 card m-1 p-0">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/reff-portafolio-personal.appspot.com/o/experiencia%2Fsin-foto.png?alt=media&token=46e75a38-7f76-4833-9ce8-4c6de16fd643"
        class="card-img-top border-bottom"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre de la empresa - Remoto</h5>
        <h6 class="card-title">Feb 2019 - Feb 2020</h6>
        <p class="card-text">
          Descripción de corta de lo que se realizaba en la empresa.
        </p>
      </div>
      <div class="card-footer">
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
            <img
              class="col-1 m-1"
              src="/favicon.ico"
              title="una tecnologia"
              alt="una tecnologia"
            />
          </div>
          <a
            [routerLink]="['/experiencia', 'freelancer']"
            class="col-6 btn btn-primary mt-3"
            >Ver detalle</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
