<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mt-3">
      <h2 class="border-bottom text-center">
        Experiencia {{ typeExperienceTitle }}
      </h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div
      class="col-lg-3 col-md-5 col-11 card m-1 p-0"
      *ngFor="let experience of experiences"
    >
      <img
        [src]="experience.DES_URL_PORTADA"
        class="card-img-top border-bottom"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ experience.DES_NOMBRE_EMPRESA }} - {{ experience.DES_TIPO_EMPLEO }}
        </h5>
        <h6 class="card-title">
          {{ experience.FECHA_INICIO | date }} -
          {{ experience.FECHA_FIN | date }}
        </h6>
        <p class="card-text">
          {{ experience.DES_DESCRIPCION_CORTA }}
        </p>
      </div>
      <div class="card-footer">
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <img
              *ngFor="let tecnologias of experience.JSON_TECNOLOGIAS"
              class="col-1 m-1"
              [src]="tecnologias.DES_URL_LOGO"
              [title]="tecnologias.DES_NOMBRE"
              [alt]="tecnologias.DES_NOMBRE"
            />
          </div>
          <a
            [routerLink]="['/experiencia', 'freelancer']"
            class="col-6 btn btn-primary mt-3"
            >Ver detalle</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
