<div class="main-exp" *ngFor="let experiencia of experiencias">
  <div class="img-exp">
    <img [src]="experiencia.DES_IMG">
  </div>
  <div class="exp-content">
    <h2>{{experiencia.DES_NOMBRE_EMPRESA}} | {{experiencia.FECHA_INICIO}}-{{experiencia.FECHA_FIN}}</h2>
    <span>{{experiencia.DES_NOMBRE_PUESTO}}</span>
    <p>{{experiencia.DES_PUESTO}}</p>
    <div class="exp-tecnologias" >
      <img *ngFor="let tecnologia of experiencia.TECNOLOGIAS" [src]="tecnologia.DES_NOMBRE">
    </div>
  </div>
</div>
