
<header>
  <nav>
    <section class="nav-logo-container"><img src="./assets/logo.png" alt="Logo principal"/></section>
    <section class="menu-link"><a href="#inicio">Inicio</a></section>
    <section class="menu-link"><a href="#proyectos">Proyectos</a></section>
    <section class="menu-link"><a href="#galeria">Galería</a></section>
    <section class="menu-link"><a href="#videos">Youtube</a></section>
    <section class="menu-link"><a id="contact" href="#contacto">Contacto </a></section>
  </nav>
</header>