header
    nav
        section(class="nav-logo-container")
            img(src="./assets/logo.png", alt="Logo principal")
        section(class="menu-link")
            a(href="#inicio") Inicio
        section(class="menu-link")
            a(href="#proyectos") Proyectos
        section(class="menu-link")
            a(href="#galeria") Galería
        section(class="menu-link")
            a(href="#videos") Youtube
        section(class="menu-link")
            a(id="contact", href="#contacto") Contacto 