
<span class="icon-menu"></span>
<header>
    <div class="header-container">
      <figure class="logo">
        <img src="./assets/logo.png" alt="Logo principal"/>
      </figure>
      <nav class="menu">
        <ol>
          <li>
            <a href="#inicio">Inicio</a>
          </li>
          <li>
            <a href="#proyectos">Proyectos</a>
          </li>
          <li>
            <a href="#galeria">Galería</a>
          </li>
          <li>
            <a href="#videos">Youtube</a>
          </li>
          <li>
            <a id="contact" href="#contacto">Contacto </a>
          </li>
        </ol>
      </nav>
    </div>
</header>