
<section class="main-background">
  <section class="main-container" id="inicio">
    <section class="section-main-1">
      <div class="card-presentation"><img class="profile-photo" src="../assets/yo.jpg" alt="foto-perfil"/>
        <section>
          <h2>Cristian Covarrubias</h2>
          <h4>Desarrollador Full Stack</h4>
          <section class="section-social">
            <div (click)="gotoUrl('https://www.linkedin.com/in/reffcp/')"><img class="social-icon" src="../assets/logo-linkedin.svg" alt="logo-linkedin"/><br/>
              <p>reffcp</p>
            </div>
            <div (click)="gotoUrl('https://www.instagram.com/reffcp/')"><img class="social-icon" src="../assets/logo-instagram.svg" alt="logo-instagram"/><br/>
              <p>reffcp</p>
            </div>
            <div (click)="gotoUrl('https://www.facebook.com/reffcp')"><img class="social-icon" src="../assets/logo-facebook.svg" alt="logo-facebook"/><br/>
              <p>reffcp</p>
            </div>
          </section>
        </section>
      </div>
    </section>
    <section class="section-main-2">
      <button class="main-button" (click)="ancla('contact')">Contactar</button>
    </section>
  </section>
</section>