<div class="container">
  <div class="row">
    <div class="col-12 row d-flex justify-content-center m-0 mt-3">
      <div class="col-lg-3 col-md-5 col-11 card m-1 p-0">
        <img src="assets/yo.png" class="card-img-top" alt="yo-wn-wtc" />
        <div class="card-body">
          <h5 class="card-title">Experiencia Profesional</h5>
          <p class="card-text">
            Experiencia trabajando como colaborador directo de empresas.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <a href="#" class="btn btn-primary">Ver experiencia</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-11 card m-1 p-0">
        <img src="assets/yo-2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Experiencia Freelancer</h5>
          <p class="card-text">
            Experiencia trabajando con negocios y empresas como Freelacer.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <a href="#" class="btn btn-primary">Ver experiencia</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-11 card m-1 p-0">
        <img src="assets/yo-3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Experiencia en consultoría</h5>
          <p class="card-text">
            Experiencia trabajando con negocios y empresas como consultor
            externo de TI.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <a href="#" class="btn btn-primary">Ver experiencia</a>
        </div>
      </div>
    </div>
  </div>
</div>
