<div>
  <section class="main-background">
  <section id="inicio" class="main-container">
    
    <section class="section-main-1">
      <div class="card-presentation">
        <img class="profile-photo" src="../assets/yo.jpg" alt="foto-perfil">
      <section>
        <h2>Cristian Covarrubias</h2>
      <h4>Desarrollador Full Stack</h4>
      <section class="section-social">
        <div>
          <img class="social-icon" src="../assets/logo-linkedin.svg" alt="logo-linkedin">
          <br> <p>reffcp</p>
        </div>
        <div>
          <img class="social-icon" src="../assets/logo-instagram.svg" alt="logo-instagram">
          <br> <p>reffcp</p>
        </div>
        <div>
          <img class="social-icon" src="../assets/logo-facebook.svg" alt="logo-facebook">
          <br> <p>reffcp</p>
        </div>
        
        
        
        
      </section>
      </section>
      </div>
    </section>
    <section class="section-main-2">
      <button class="main-button" >Contactar</button>
    </section>
  </section>
  </section>

  <!-- Secci[on de proyectos-->
  
  <section class="projects-background">
  <section class="projects-container">
    
    <h2 id="proyectos">Proyectos</h2>
      <section class="projects">
        <section class="project-card">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <div class="card-content">
          <h4>Titulo del proyecto</h4>
          <p>Titulo proyectoTitulo proyectoTitulo proyectoTitulo proyectoTitulo proyecto</p>
          </div>
          <button>Visitar sitio web</button>
        </section>
        <section class="project-card">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <div class="card-content">
          <h4>Titulo del proyecto</h4>
          <p>Titulo proyectoTitulo proyectoTitulo proyectoTitulo proyectoTitulo proyecto</p>
          </div>
          <button>Visitar sitio web</button>
        </section>
        <section class="project-card">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <div class="card-content">
          <h4>Titulo del proyecto</h4>
          <p>Titulo proyectoTitulo proyectoTitulo proyectoTitulo proyectoTitulo proyecto</p>
          </div>
          <button>Visitar sitio web</button>
        </section>
        
        
        
      </section>
    </section>
  </section>

   <!-- Secci[on de galer[ia-->
   
  <section class="galery-container">
    <section class="main-background">
    <h2 id="galeria">Galeria</h2>
      <section class="galery">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
          <img src="../assets/ejemplo.png" alt="proyecto">
      </section>
    </section>
  </section>
   <!-- Secci[on de videos-->
  
  <section class="video-container">
    <section class="main-background">
    <h2 id="videos">Videos</h2>
      <section class="video">
        <iframe src="https://www.youtube.com/embed/g7pP-Su9_F4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/g7pP-Su9_F4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/g7pP-Su9_F4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/g7pP-Su9_F4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
    </section>
  </section>
   <!-- Secci[on de contacto-->
   
  <section class="contacto-container">
    <section class="main-background">
    <h2 id="contacto">Contacto</h2>
      <section class="contacto">
        <form id="formContacto" action="POST">
          <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
          </div>
          <div>
            <label for="telefono">Telefono</label>
            <input type="phone" name="telefono" id="telefono">
          </div>
          <div>
            <label for="correo">Correo</label>
            <input type="mail" name="correo" id="correo">
          </div>
          <div>
            <label for="asunto">Asunto</label>
            <input type="text" name="asunto" id="asunto">
          </div>
          <div>
            <label for="adicional">Adicional</label>
            <input type="text" name="adicional" id="adicional">
          </div>

          <div>
            <button type="submit">Enviar</button>
          </div>
          
          
          
        </form>
      </section>
    </section>
  </section>

</div>

