<section class="main-container">
  <section class="section-main-1">
    <div class="card-presentation">
      <img class="profile-photo" src="../assets/yo.jpg" alt="foto-perfil">
    <section>
      <h2>Cristian Covarrubias</h2>
    <p>Desarrollador Full Stack</p>
    <section class="section-social">
      <div>
        <img class="social-icon" src="../assets/logo-facebook.svg" alt="logo-facebook">
        <br> <p>reffcp</p>
      </div>
      <div>
        <img class="social-icon" src="../assets/logo-facebook.svg" alt="logo-facebook">
        <br> <p>reffcp</p>
      </div>
      <div>
        <img class="social-icon" src="../assets/logo-facebook.svg" alt="logo-facebook">
        <br> <p>reffcp</p>
      </div>
      
      
    </section>
    </section>
    </div>
  </section>
  <section class="section-main-2">
    <button class="main-button">Boton</button>
  </section>
</section>

