<div class="container-fluid mt-4 pt-2 pb-2 bg-dark">
  <div class="row">
    <div class="col-12 row text-white">
      <span class="col-12 text-center"
        >Cristian Refugio Covarrubias Patiño @reffcp</span
      >
      <span class="col-12 text-center"
        >Todos los derechos reservados. Y los izquierdos también. 😂</span
      >
      <span class="col-12 mt-2 d-flex justify-content-center text-center">
        <div class="col-3 col-lg-1">
          <a
            type="button"
            class="btn btn-warning"
            href="https://www.paypal.com/donate/?business=E9Y3A75WPVBW2&no_recurring=0&item_name=una+taza+de+caf%C3%A9+para+seguir+aportando+contenido&currency_code=MXN"
            target="_blank"
            >Donar</a
          >
        </div>
        <div class="col-3 col-lg-1">
          <a
            type="button"
            class="btn btn-warning"
            href="https://www.amazon.com.mx/hz/wishlist/ls/3J75MLJ6ME5T1?ref_=wl_share"
            target="_blank"
            >Amazon</a
          >
        </div>
        <div class="col-3 col-lg-1">
          <a
            type="button"
            class="btn btn-warning"
            href="http://my.aliexpress.com/wishlist/shared.htm?groupId=1000000016279208"
            target="_blank"
            >Aliexpress</a
          >
        </div>
      </span>
    </div>
  </div>
</div>
