<div class="container">
  <div class="row mt-4">
    <div class="col-9">
      <div class="col-12">
        <h3 class="border-bottom">Cristian Refugio Covarrubias Patiño</h3>
      </div>
      <div class="col-12 mt-3">
        <span>
          Senior Full Stack Developer para web y mobile con mas de 9 años de
          experiencia en la industria tech.
        </span>
      </div>
      <div class="col-12 d-flex mt-4">
        <app-social-stick
          *ngFor="let sNetwork of sNetWorks"
          class="col-3"
          [socialNetWorkName]="sNetwork.socialNetWorkName"
          [nickname]="sNetwork.nickname"
          [socialNetWorkUrl]="sNetwork.socialNetWorkUrl"
        ></app-social-stick>
      </div>
    </div>
    <div class="col-3">
      <img
        class="rounded-circle"
        src="https://media-exp1.licdn.com/dms/image/C4D03AQFLUpqQth0dMw/profile-displayphoto-shrink_200_200/0/1605060369612?e=1666224000&v=beta&t=AexKGB9YPO18gCtu4v5lFvrmKMLWokP6-kQ2Xz5bplU"
        alt="foto-perfil"
      />
    </div>
  </div>
</div>
