<div class="container">
  <div class="row mt-4">
    <div class="col-9">
      <div class="col-12">
        <h3 class="border-bottom">Cristian Refugio Covarrubias Patiño</h3>
      </div>
      <div class="col-12 mt-3">
        <span>
          Senior Full Stack Developer para web y mobile con mas de 9 años de
          experiencia en la industria tech.
        </span>
      </div>
      <div class="col-12 d-flex mt-4">
        <app-social-stick
          *ngFor="let sNetwork of sNetWorks"
          class="col-3"
          [socialNetWorkName]="sNetwork.socialNetWorkName"
          [nickname]="sNetwork.nickname"
          [socialNetWorkUrl]="sNetwork.socialNetWorkUrl"
        ></app-social-stick>
      </div>
    </div>
    <div class="col-3">
      <img
        class="rounded-circle"
        src="https://media-exp1.licdn.com/dms/image/C4D03AQFLUpqQth0dMw/profile-displayphoto-shrink_200_200/0/1605060369612?e=1666224000&v=beta&t=AexKGB9YPO18gCtu4v5lFvrmKMLWokP6-kQ2Xz5bplU"
        alt="foto-perfil"
      />
    </div>
    <div class="col-12 mt-4">
      <div class="col-12">
        <h4 class="border-bottom">¿Quién soy?</h4>
      </div>
      <div class="col-12">
        Soy Mexicano, originario del municipio de La Huerta, Jalisco. Trabajo
        actualmente como consultor externo fungiendo como Senior Full Stack
        Developer para web y mobile, anteriormente he colaborado con empresas y
        negocios de de todo tipo, incluyendo startups en México, Colombia y
        Estados Unidos, tanto presencial como remoto.
      </div>

      <div class="col-12 mt-3">
        <h4 class="border-bottom">Especialidades</h4>
      </div>
      <div class="col-12">
        JavaScript, TypeScript, Angular, NodeJS, Java, Git.
      </div>

      <div class="col-12 mt-3">
        <h4 class="border-bottom">Trayectoria</h4>
      </div>
      <div class="col-12">
        Desarrollador FullStack con más de 9 años de experiencia. Hace mas de 9
        años empecé mi primer sitio web. He tenido contacto con la tecnología
        desde hace más de 13 años, y he trabajado con varias tecnologías a la
        vez desde hace más de 5 años.
        <br />
        <br />
        Desde pequeño siempre me he interesado por la tecnología, me gusta
        aprender cosas nuevas y experimentar. Me gusta trabajar con equipos
        multidisciplinarios, y con personas que me dan la oportunidad de
        experimentar con nuevas tecnologías.
        <br />
        <br />
        Me gusta mucho el desarrollo de software, y la tecnología que me permite
        crear soluciones que se adapten a las necesidades de cada cliente. He
        trabajado con varios frameworks y librerías completamente distintos a
        los que manejo como especialidad y no tengo problemas con adaptarme al
        cambio.
        <br />
        <br />
        He trabajado con diferentes empresas de distintos giros y sectores como
        financieras, empresas de servicios, empresas de tecnología, empresas de
        comercio.
        <br />
        <br />
        También he trabajado con negocios tanto pequeños, medianos y grandes,
        desde restaurantes hasta cadenas.
        <br />
        <br />
        Mi filosofía de vida es la de aprender y mejorar constantemente.
      </div>

      <div class="col-12 mt-3">
        <h4 class="border-bottom">Proyectos recientes</h4>
      </div>
      <div class="col-12">
        Actualmente trabajo en generar proyectos publicos para extender mi
        conocimiento y mi repositorio de GitHub. Me gustaría liderar proyectos
        de software con equipos enormes, desde su creación hasta su desarrollo y
        mantenimiento. También trabajo en proyectos privados para mejorar mi
        conocimiento profesional y personal.
        <br /><br />
        Tengo la meta de coseguir en el meidano futuro el nombramiento de Google
        Developer Expert en la categoría de Angular, Así como el nivel de inglés
        para el desarrollo de software C1 ya que actualmente tengo el nivel A-2.
      </div>
    </div>
  </div>
</div>
