<section class="main-background">
    <section class="main-container" id="inicio">
        <section class="section-main-1">
            <div class="card-presentation"><img class="profile-photo" src="https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/background%2Fyo.jpg?alt=media&token=e071cd36-3cf3-4ec7-b3cd-1f41f5927282" alt="foto-perfil" />
                <section>
                    <h2>Cristian Covarrubias</h2>
                    <h4>Desarrollador Full Stack</h4>
                    <section class="section-social">
                        <div (click)="gotoUrl('https://www.linkedin.com/in/reffcp/')"><img class="social-icon"
                                src="https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/logos%2Flogo-linkedin.svg?alt=media&token=35587aec-1071-40d2-b614-2439aae2e4ac" alt="logo-linkedin" /><br />
                            <p>reffcp</p>
                        </div>
                        <div (click)="gotoUrl('https://www.instagram.com/reffcp/')"><img class="social-icon"
                                src="https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/logos%2Flogo-instagram.svg?alt=media&token=6ebaf512-17b9-4886-b486-75d74f92f192" alt="logo-instagram" /><br />
                            <p>reffcp</p>
                        </div>
                        <div (click)="gotoUrl('https://www.facebook.com/reffcp')"><img class="social-icon"
                                src="https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/logos%2Flogo-facebook.svg?alt=media&token=bd587970-4b36-4fae-a926-7648a2d2423b" alt="logo-facebook" /><br />
                            <p>reffcp</p>
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section class="section-main-2">
            <button class="main-button" (click)="ancla('contact')">Contactar</button>
        </section>
    </section>
</section>
