<section class="main-background">
  <section class="section1">
    <h2>Hola, soy</h2>
    <h1>Cristian Covarrubias</h1>
    <p>Un full Stack en desarrollo web
      especializado en frontend con más de 5
      años de experiencia</p>
  </section>
  <section class="section2">

  </section>
</section>

<section>
  <mat-tab-group class="tabs">
    <mat-tab label="Experiecia">
      <app-experiencia></app-experiencia>
    </mat-tab>
    <mat-tab label="Proyectos"> Proyectos </mat-tab>
    <mat-tab label="Colaboradores"> Colaboradores </mat-tab>
  </mat-tab-group>
</section>
