@import '../../../../variables.scss';

.main-background {
  min-height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $fontColorPrimary;
}

.section1{
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.2rem;
  }
}

.section2{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/portafolio-personal-264fb.appspot.com/o/background%2Fyo.jpg?alt=media&token=e071cd36-3cf3-4ec7-b3cd-1f41f5927282');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}





