<section class="projects-background">
    <section class="projects-container">
        <h2 id="proyectos">Proyectos</h2>
        <section class="projects">
            <section class="project-card" *ngFor="let proyecto of proyectos">
                <img class="project-card-icon" src="../../../../assets/logos/js-logo.png" alt="">
                <img [src]="proyecto.img" [alt]="proyecto.name" />
                <div class="card-content">
                    <h3>{{proyecto.name}}</h3>
                    <p>{{proyecto.description}}</p>
                </div>
                <button *ngIf="proyecto.demolink" (click)="gotoUrl(proyecto.demolink)">Ver proyecto</button>
                <button *ngIf="proyecto.githubrepo" (click)="gotoUrl(proyecto.githubrepo)">Github</button>
            </section>
        </section>
    </section>
</section> 