<section class="projects-background">
    <section class="projects-container">
        <h2 id="proyectos">Proyectos</h2>
        <section class="projects">
            <section class="project-card">
                <img class="project-card-icon" src="../../../../assets/logos/js-logo.png" alt="">
                <img src="../assets/100tifico.png" alt="proyecto-2" />
                <div class="card-content">
                    <h3>100tifico</h3>
                    <p>Sitio web realizado con Vanilla JS.</p>

                </div>
                <button (click)="gotoUrl('https://reffcp.github.io/100tifico/')">Ver proyecto</button>
                <button (click)="gotoUrl('https://github.com/Reffcp/100tifico')">Github</button>
            </section>

            <section class="project-card">
                <img class="project-card-icon" src="../../../../assets/logos/css-logo.jpg" alt="">
                <img src="../assets/clone-google.png" alt="proyecto-2" />
                <div class="card-content">
                    <h3>Clon frontal de Google</h3>
                    <p>Sitio realizado con HTML y CSS para maquetar una vista.</p>
                </div>
                <button (click)="gotoUrl('https://reffcp.github.io/clone-front-google/')">Ver proyecto</button>
                <button (click)="gotoUrl('https://github.com/Reffcp/clone-front-google')">Github</button>
            </section>

            <section class="project-card">
                <img class="project-card-icon transparente" src="../../../../assets/logos/moodle-logo.png" alt="">
                <img src="../../../../assets/moodle-cucsur.png" alt="proyecto-2" />
                <div class="card-content">
                    <h3>Moodle CUCSUR</h3>
                    <p>LMS para un Centro Univarsitario de la Univarsidad de Guadalajara.</p>
                </div>
                <button (click)="gotoUrl('http://moodle.cucostasur.udg.mx/moodle3/')">Ver proyecto</button>
            </section>
            <section class="project-card">
                <img class="project-card-icon" src="../../../../assets/logos/wp-logo.png" alt="">
                <img src="../assets/proyecto-3.png" alt="proyecto-3" />
                <div class="card-content">
                    <h3>Solorio Dental</h3>
                    <p>Sitio web realizado con WordPress para clínica dental en Autlán de Navarro, Jalisco, México.</p>
                </div>
                <button (click)="gotoUrl('http://dentalsolorio.com/')">Ver proyecto</button>
            </section>
            <section class="project-card">
                <img class="project-card-icon" src="../../../../assets/logos/wp-logo.png" alt="">
                <img src="../assets/proyecto-1.png" alt="proyecto-1" />
                <div class="card-content">
                    <h3>VICAA Manos Latinas</h3>
                    <p>Tienda en línea con WordPress para tienda de artesanías en Autlán de Navarro, Jalisco, México.
                    </p>
                </div>
                <button (click)="gotoUrl('https://vicaamanoslatinas.com/')">Ver proyecto</button>
            </section>
            <section class="project-card">
                <img class="project-card-icon" src="../../../../assets/logos/wp-logo.png" alt="">
                <img src="../assets/proyecto-2.png" alt="proyecto-2" />
                <div class="card-content">
                    <h3>Rebits MX</h3>
                    <p>Sitio web realizado con WordPress para emprendimiento propio en Autlán de Navarro, Jalisco,
                        México.</p>
                </div>
                <button (click)="gotoUrl('https://www.rebits.com.mx/')">Ver proyecto</button>
            </section>


        </section>
    </section>
</section> 