
<section class="projects-background">
  <section class="projects-container">
    <h2 id="proyectos">Proyectos</h2>
    <section class="projects">
      <section class="project-card"><img src="../assets/proyecto-3.png" alt="proyecto-3"/>
        <div class="card-content">
          <h3>Sitio en WordPress</h3>
          <p>Sitio web realizado con WordPress para clínica dental en Autlán de Navarro, Jalisco, México.</p>
        </div>
        <button (click)="gotoUrl('http://dentalsolorio.com/')">Ver proyecto</button>
      </section>
      <section class="project-card"><img src="../assets/proyecto-1.png" alt="proyecto-1"/>
        <div class="card-content">
          <h3>Tienda en WordPress</h3>
          <p>Tienda en línea con WordPress para tienda de artesanías en Autlán de Navarro, Jalisco, México.</p>
        </div>
        <button (click)="gotoUrl('https://vicaamanoslatinas.com/')">Ver proyecto</button>
      </section>
      <section class="project-card"><img src="../assets/proyecto-2.png" alt="proyecto-2"/>
        <div class="card-content">
          <h3>Sitio en WordPress</h3>
          <p>Sitio web realizado con WordPress para emprendimiento propio en Autlán de Navarro, Jalisco, México.</p>
        </div>
        <button (click)="gotoUrl('https://www.rebits.com.mx/')">Ver proyecto</button>
      </section>
    </section>
  </section>
</section>