mixin cardProject(img,alt,title,description,url)
    section.project-card
        img(src="../assets/"+img, alt=alt)
        div.card-content
            h3= title
            p= description
        button((click)="gotoUrl('"+url+"')") Ver proyecto

section.projects-background
    section.projects-container
        h2(id="proyectos") Proyectos
        section.projects
            +cardProject("proyecto-3.png","proyecto-3","Sitio en WordPress","Sitio web realizado con WordPress para clínica dental en Autlán de Navarro, Jalisco, México.","http://dentalsolorio.com/")
            +cardProject("proyecto-1.png","proyecto-1","Tienda en WordPress","Tienda en línea con WordPress para tienda de artesanías en Autlán de Navarro, Jalisco, México.","'https://vicaamanoslatinas.com/")
            +cardProject("proyecto-2.png","proyecto-2","Sitio en WordPress","Sitio web realizado con WordPress para emprendimiento propio en Autlán de Navarro, Jalisco, México.","https://www.rebits.com.mx/")