mixin formElement(id,type)
    div
        label(for=id)= id
        input(type=type, name=id, id=id)


section.contacto-background
    section.contacto-container
        h2(id="contacto") Contacto
        section.contacto
            form(action="POST")
                +formElement("Nombe","text")
                +formElement("Teléfono","phone")
                +formElement("Correo","email")
                +formElement("Asunto","text")
                +formElement("Adicional","text")
                div
                    button(type="submit") Enviar 
