
<section class="contacto-background">
  <section class="contacto-container">
    <h2 id="contacto">Contacto</h2>
    <section class="contacto">
      <form action="POST">
        <div>
          <label for="Nombe">Nombe</label>
          <input type="text" name="Nombe" id="Nombe"/>
        </div>
        <div>
          <label for="Teléfono">Teléfono</label>
          <input type="phone" name="Teléfono" id="Teléfono"/>
        </div>
        <div>
          <label for="Correo">Correo</label>
          <input type="email" name="Correo" id="Correo"/>
        </div>
        <div>
          <label for="Asunto">Asunto</label>
          <input type="text" name="Asunto" id="Asunto"/>
        </div>
        <div>
          <label for="Adicional">Adicional</label>
          <input type="text" name="Adicional" id="Adicional"/>
        </div>
        <div>
          <button type="submit">Enviar </button>
        </div>
      </form>
    </section>
  </section>
</section>