@import "../../../../variables.scss";

.contacto-background{
    background-image: url('../../../../assets/background.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contacto-container{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr ;
    padding-bottom: 7%;
    padding-top: 7%;
    background-color: $backgroundSecond;

    & h2{
        display: grid;
        grid-column: 2;
        font-size: xx-large;
        color: $fontColorPrimary;
    }
}

.contacto{
    display: grid;
    grid-column: 2;
    justify-items: center; 

    & form{
        display: grid;
        width: 100%;
        color: $fontColorPrimary;

        & div{
            display: grid;
            justify-content: center;
            margin: 5px;
        }
        & button{
            width: 160px;
            height: 48px;
            background-color: transparent;
            border-radius: 11px;
            color: $fontColorPrimary;
            font-size: 22px;
            margin-top: 10%;
        }
        & input{
            width: 471px;
            height: 25px;
            border-radius: 10px;
        }
    }
}