/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    display: inline;
    color: #bc4300;
}

header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr;
}

nav{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: #ffffff;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 35%;
}

nav .menu-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
}

main{
    background-image: url('./assets/background.jpg');
    width: 100%;
    height: 100%;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr ;
    padding-top: 7%;
    padding-bottom: 7%;
    
}

.profile-photo{
    width: 45%;
    margin: 3%;
    border-radius: 5%;
}

.section-main-1{
    display: grid;
    grid-column: 2;
    justify-items: center; 
    margin: 8%;
    background-color: blue;
    border-radius: 2%;

}
.section-main-2{
    display: grid;
    grid-column: 3;
    justify-items: center;
    align-items: center;
    margin: 8%;

}


.social-icon{
    width: 65%;
    margin-left: 2%;
}

.section-social{
    display: flex;
    margin-top: 15%;
    text-align: center;
    margin-right: 30%;
    margin-left: -3%;
}

.card-presentation{
    display: flex;
}

.main-button{
    width: 65%;
    height: 25%;
}


.projects-container{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr ;
    padding-bottom: 7%;
}

.projects{
    display: grid;
    grid-column: 2;
    justify-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
}

.project-card{
    margin: 8%;
    background-color: blue;
    border-radius: 2%;
}
.project-card button{
    width: 100%;
}

.project-card img{
    width: 100%;
}

.galery-container{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr ;
    padding-bottom: 7%;
}

.galery{
    display: grid;
    grid-column: 2;
    justify-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.galery img{
    width: 100%;
    margin: 1%;
}


.video-container{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr ;
    padding-bottom: 7%;
}

.video{
    display: grid;
    grid-column: 2;
    justify-items: center; 
    grid-template-columns: 1fr 1fr ;
}

.video iframe{
    width: 100%;
    margin: 1%;
    height: 315px;
}

.contacto-container{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr ;
    padding-bottom: 7%;
}

.contacto{
    display: grid;
    grid-column: 2;
    justify-items: center; 
}

.contacto form{
    display: grid;
}
.contacto form div{
    display: grid;
}

.contacto form button{
    margin-top: 10%;
}
.contacto form input{
    width: 100%;
}
