/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
    font-family: $font1;
}

body {
    background-image: url('./assets/background-main.png');
    background-size: contain;
}


