@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans serif;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  display: inline;
  color: #bc4300;
}

header{
  background-color: #ffffff;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;
}


header .header-container {
  max-width: 1024;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
/*
header .header-container .logo {
  text-align: center;
}
*/
header .header-container .logo img{
  max-width: 200px;
  width: 100%;
}



.menu{
  height: inherit;
}

header ol{
  display: flex;
  height: inherit;
  flex-wrap: wrap;
}

header ol li{
  height: inherit;
}

header a{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}



.galery-background {
  background-image: url("./assets/background.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galery-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: rgba(0, 22, 31, 0.9);
}
.galery-container h2 {
  display: grid;
  grid-column: 2;
  font-size: xx-large;
  color: #ffffff;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galery img {
  width: 100%;
  margin: 1%;
}
.galery iframe {
  background-color: #ffffff;
  height: 430px;
}

.video-background {
  background-image: url("./assets/background-projects.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 7%;
  padding-top: 7%;
  background-color: rgba(0, 22, 31, 0.9);
}
.video-container h2 {
  display: grid;
  font-size: xx-large;
  color: #ffffff;
}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video iframe {
  width: 100%;
  max-width: 400px;
  margin: 1%;
  height: 315px;
}

@media screen and (min-width:1366px){
  .section-main-1{
    max-width: 600px!important;
  }

  .section-main-2{
    max-width: 300px !important;
  }

  .main-button{
    max-height: 120px !important;
    font-size: 35px !important;
  }

  .project-card{
    max-width: 360px !important;
  }
}

@media screen and (max-width:1365px){
  .contacto form input {
    width: 471px;
  }
}
@media screen and (max-width:767px){
   header{
     display: block;
     height: auto;
   }

   header ol{
     display: block;
   }

   header ol li {
    height: 50px;
   }

   header a{
     justify-content: center;
   }

   header .logo{
     text-align: center;
   }

   .contacto form input {
    width: 471px !important;
  }

  .icon-menu {
    display: block;
  }
}

@media screen and (max-width:550px){
  .contacto form input {
    width: 400px !important;
  }

  .card-presentation section{
    font-size: 0.90em !important;
  }

  footer{
    display: block !important;
  }
  footer div{
    justify-content: center !important;
  }

  
}
@media screen and (max-width:480px){
  .contacto form input {
    width: 300px !important;
  }
  .card-presentation section{
    font-size: 0.75em !important;
  }

  footer{
    display: block !important;
  }
  footer div{
    justify-content: center !important;
  }
}
@media screen and (max-width:320px){
  .contacto form input {
    width: 250px !important;
  }

  .card-presentation section{
    font-size: 0.5em !important;
  }

  footer{
    display: block !important;
  }
  footer div{
    justify-content: center !important;
  }
}