/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
    font-family: "icomoon";
    src: url("https://i.icomoon.io/public/temp/8be2835032/UntitledProject/icomoon.eot?g1a73y");
    src: url("https://i.icomoon.io/public/temp/8be2835032/UntitledProject/icomoon.eot?g1a73y#iefix")
            format("embedded-opentype"),
        url("https://i.icomoon.io/public/temp/8be2835032/UntitledProject/icomoon.ttf?g1a73y") format("truetype"),
        url("https://i.icomoon.io/public/temp/8be2835032/UntitledProject/icomoon.woff?g1a73y") format("woff"),
        url("https://i.icomoon.io/public/temp/8be2835032/UntitledProject/icomoon.svg?g1a73y#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Roboto", sans serif;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline;
    color: #bc4300;
}
