/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
    font-family: $font1;
}

body {
    background-image: url('./assets/background-main.png');
    background-size: contain;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-tab-group, .mat-tab-label-content{
  color: $fontColorPrimary ;
}

.mat-tab-header-pagination-chevron {
    border-color: rgb(255 255 255);
}
.mat-tab-header-pagination-disabled  {
    border-color: rgb(255 255 255);
}
